body {
	text-align: center;
}

.usuario {
	width: 250px;
	height: 30px;
	margin-bottom: 6px;
	forecolor: black;
	border-radius: 5px;
	padding: 2px;
	border: solid 3px #c9c9c9;
	transition: border 0.3s;
}

.boton {
	width: 150px;
	height: 35px;
	color: white;
	background: #688984;
	border-radius: 6px;
	box-shadow: 1px 1px 3px black;
}

.formulario {
	margin-top: 50px;
}

.listaProductos {
	margin-top: 30px;
}

.listaProductos div {
	text-align: left;
	width: 360px;
	height: 120px;
	background: #688984;
	color: white;
	margin-left: 6px;
	cursor: pointer;
	border-top: solid 5px;
	display: inline-block;
}

.listaProductos div img {
	float: left;
	margin-top: 22px;
	border-right: solid 1px;
	margin-right: 15px;
}

.listaProductos div p {
	margin-top: 22px;
}

.paginacion {
	font-size: large;
	position: fixed;
	margin-left: 45%;
}

.modal-body {
	height: 70px;
	width: 440px;
	margin-top: 15px;
	margin-left: 90px;
	box-shadow: 4px 4px 3px #688984;
	border-radius: 5px;
	color: #fff;
	background-color: black;
	border-color: #285e8e;
}

.modal-body div {
	margin-top: -7px;
	margin-left: -25px;
	font-weight: bold;
}

#imagenModal img {
	width: 35px;
	height: 35px;
}

#imagenModal {
	float: right;
	margin-top: -38px;
	box-shadow: 1px 1px 1px green;
	background: white;
	cursor: pointer;
}

.menu {
	background: #547772;
	height: 55px;
	box-shadow: 1px 1px 3px blue;
}

.menu div {
	margin: 8px;
	display: inline-block;
	height: 38px;
	width: 150px;
	border: solid white 1px;
	cursor: pointer;
	font-weight: bold;
	font-size: 15px;
	border-radius: 5px;
}

.menu div p {
	margin-top: 10px;
	color: white;
}

.linux {
	width: 200px;
}

.linux img {
	position: fixed;
	width: 150px;
	height: 90px;
	margin-left: 40px;
	margin-top: -150px;
	border-radius: 8px;
	box-shadow: 2px 2px 4px black;
	border-radius: 8px;
}

#facebookLikeDafak {
	margin-left: 300px !important;
}

.busqueda img {
	margin: 2px;
}

.busqueda {
	margin-left: 11%;
	margin-top: -52px;
	margin-bottom: 66px;
}

.fondoinput input {
	background-image: url('../images/busquedas/busca.png');
	background-repeat: no-repeat;
	background-position: 175px;
	padding-left: 5px;
	height: 35px;
	width: 205px;
	box-shadow: 2px 2px 5px #999;
}

#categoria {
	margin-top: 10px;
	width: 100px;
	height: 30px;
}
#list5 {
	color: rgba(126, 118, 118, 1);
}

#list5 ol {
	font-size: 18px;
	text-align: left !important;
}

#list5 ol li {
	
}

#list5 ol li ol {
	list-style-image: url("../images/registro/nested.png");
	padding: 5px 0 5px 18px;
	font-size: 15px;
}

#list5 ol li ol li {
	color: #rgba(99, 186, 227, 1) !important;
	height: 15px;
	margin-left: 1px;
}