.publicaciones {
	width: 100%;
	position: absolute;
	margin-top: 1%;
	border-radius: 10px;
	text-align:center;
}

.publicaciones div {
	text-align:center;
	width: 45%;
	height: 180px;
	background-color: #FFF;
	margin-top: 1.5%;
	box-shadow: -1px 4px 5px #000;
	border-radius: 10px;
	display: inline-block;
}