@CHARSET "UTF-8";

.registro {
	z-index: 20 !important;
	position: absolute !important;
	margin-left: 34% !important;
}

.registro div {
	margin-top: 20px !important;
}

.tamanio {
	height: 35px !important;
	width: 234px !important;
	background-image: url('../images/registro/boy.png') !important;
	background-position: right !important;
	background-repeat: no-repeat !important;
	box-sizing: border-box !important;
	-moz-box-sizing: border-box !important;
	-webkit-box-sizing: border-box !important;
	background-image: url('../images/registro/boy.png') !important;
}

.registro div input {
	height: 35px !important;
	width: 234px !important;
	background-image: url('../images/registro/boy.png') !important;
	background-position: right !important;
	background-repeat: no-repeat !important;
	box-sizing: border-box !important;
	-moz-box-sizing: border-box !important;
	-webkit-box-sizing: border-box !important;
	background-image: url('../images/registro/boy.png') !important;
}

.registro div input:hover {
	border: 2px solid green !important;
	color: #000 !important;
}

.registro div select {
	height: 38px !important;
	width: 240px !important;
}

#boton input {
	width: 240px !important;
	height: 40px !important;
}

#boton input:hover {
	border: 2px solid green !important;
	color: #000 !important;
}

#buscaSede {
	background-image: url('../images/busquedas/busca.png');
	background-repeat: no-repeat;
	background-position: right;
	height: 31px;
	width: 184px;
}

#list5 {
	color: rgba(126, 118, 118, 1);
}

#list5 ol {
	font-size: 18px;
	text-align: left !important;
}

#list5 ol li {
	
}

#list5 ol li ol {
	list-style-image: url("../images/registro/nested.png");
	padding: 5px 0 5px 18px;
	font-size: 15px;
}

#list5 ol li ol li {
	color: #rgba(99, 186, 227, 1) !important;
	height: 15px;
	margin-left: 1px;
}